*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html{
  font-size: 62.5%;
  font-family: "Roboto", serif;
}

/*resualble*/
.container{
  max-width: 120rem;
  margin: 0 auto;
  padding: 0 3.2rem;
}
.grid{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 6.2rem;
  column-gap: 6.2rem;
}
/*gallery*/
.gallery{
  margin-top: 3.2rem;
}

.imgGallery{
  width: 100%;
}

.gallery-item img{
  border-radius: 1rem;
}

.gallery-item img{
    display: block;
    width: 100%;
    transition: all 0.4s;
}
.gallery-item img:hover{
  transform: scale(1.1);
}

/*clock*/

.clock{
  margin-top: 3.2rem;
}
.flex{
  display: flex;
  justify-content: center;
  align-items: center;
}
.time-holder{
  display: flex;
}
.hours{

}
.time-divider{
  font-size: 4.4rem;
  
}
.p-style{
  font-size: 4.4rem;
  font-weight: 500;
}